@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Superhero Project</h1>
        <p class="lead">Welcome to my Superhero Project! This Application allows you to Create, Read, Update and Delete Superheroes from a list using CRUD operations. <br /> </p>
        <p class = "lead"> Click on the links on the top right hand side to add your own superhero or see the list of superheroes already in the table!</p>
        <img src="~/Content/iron-man-vegas.jpg" style=" margin: 0 auto; width: 100%; " />
        
    </div>

<div class="row">
    <div class="col-md-4">
       



   


</div>